@charset "utf-8";

#page{
    background-color: #bbc3e3;
    margin: 20px auto;
    padding: 50px;
}

h1{
    font-weight: 900;
    text-align: center;
    color: white;
    padding: 10px;
    border: 10px;
    background-color: #859dff;
}

h2{
    text-align: left;
    background-color: #d1daff;
    padding: 10px;
}